* {
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
}

/* ---গুগল করে পেলাম যে,
আইডি দিয়ে পেজের একটা অংশকে আরেকটা অংশের সাথে জুড়ে দেয়া যায়,
তখন নাকি এই স্ক্রল বিহেভিয়ার এটা দিলে সুন্দর করে টেনে নিয়ে যায়।
 পরে এটা কমেন্ট করে দিয়ে টেস্ট করে দেখি - ধুপ করে টান মেরে ফুটারে নিয়ে যাচ্ছে - সুন্দর্য নাই কিছু নাই। 
 তাই এইটা রেখে দিসি
------ */

