* {
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
}

/* --- গুগল করে পেলাম যে,
আইডি দিয়ে পেজের একটা অংশকে আরেকটা অংশের সাথে জুড়ে দেয়া যায়,
তখন নাকি এই স্ক্রল বিহেভিয়ার এটা দিলে সুন্দর করে টেনে নিয়ে যায়।
 পরে এটা কমেন্ট করে দিয়ে টেস্ট করে দেখি - ধুপ করে টান মেরে 
 ফুটারে নিয়ে যাচ্ছে - সুন্দর্য নাই কিছু নাই। 
 তাই scroll-behavior: smooth; এইটা রেখে দিসি
------ */

/*===============================
========== Common Style =========
================================*/
.btn {
    font-family: Azeret Mono, monospace;
    border-radius: 8px;
    cursor: pointer;
}

.btn-outlined {
    border: 1px solid #0D1321;
    background-color: transparent;
    color: #0D1321;
    padding: 17px 24px;
}

.btn-fill {
    border: none;
    background-color: #0D1321;
    color: #ffffff;
    padding: 17px 24px;
}

.b-radius-none {
    border-radius: 0;
}

.text-center {
    text-align: center;
}

body {
    font-family: Azeret Mono, monospace;
    background-color: #ffffff;
}

/*==============================
========== hero section ========
================================*/

body>header {
    color: #0D1321;
}

body>header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 90px;
}

body>header>nav h3 {
    margin-right: 0px;
}

body>header>.hero-section {
    background-image: url("../assets/Hero-bg.png");
    padding: 25px 221px 45px 221px;
}

body>header>.hero-section .hero-container {
    margin: auto auto;
    text-align: center;
    width: 998px;
}

body>header>.hero-section .hero-container .hero-content {
    margin-top: 32px;
}

body>header>.hero-section .hero-container .hero-content .hero-title {
    font-weight: 900;
    margin: 20px;
}

body>header>.hero-section .hero-container .hero-content p {
    margin: 20px;
    font-weight: 200;
}

/*======================================
=========== why web dev section ========
=======================================*/

body>section.why-wdev {
    color: #0D1321;
}

body>section.why-wdev div {
    /* border: .5px dashed #333; */
}

body>section.why-wdev div.wdev-container {
    margin: 74px auto;
    width: 1140px;
    background-color: #0d132108;
    border-radius: 16px;
    padding: 48px;
}

body>section.why-wdev div.wdev-container div.wdev-content-container {
    margin: 80px 97px;
}

body>section.why-wdev div.wdev-container div.wdev-content-container div.wdev-intro {
    margin: 0 auto 48px auto;
}

body>section.why-wdev div.wdev-container div.wdev-content-container div.wdev-intro>h2 {
    font-size: 32px;
    font-weight: 800;
}

body>section.why-wdev div.wdev-container div.wdev-content-container div.wdev-intro>p {
    font-size: 16px;
    margin-top: 26px;
}

body>section.why-wdev div.wdev-container div.wdev-content-container div.wdev-cards-containe div.card {
    background-image: linear-gradient(to right, #ffffff, #ffffff00);
    border-radius: 16px;
}

body>section.why-wdev div.wdev-container div.wdev-content-container div.wdev-cards-container div.card>div.card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px;


}

body>section.why-wdev div.wdev-container div.wdev-content-container div.wdev-cards-container div.card>div.card-content>div.content-texts {
    margin-left: 48px;
}

body>section.why-wdev div.wdev-container div.wdev-content-container div.wdev-cards-container div.card>div.card-content>div.content-texts>h4.header-title {
    font-weight: 700;
}

body>section.why-wdev div.wdev-container div.wdev-content-container div.wdev-cards-container div.card>div.card-content>div.content-texts>button {
    margin: 16px 0 32px 0;
    width: 171px;
    height: 47px;
    padding: 12px 20px;
}